body {
  font-family: verdana;
}

h1 {
  text-align: center;
}

nav {
  display: flex;
}

nav > * {
  flex: 1;
  text-align: center;
  }

button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ef233c;
  box-shadow: 0 5px #d90429;
}
button:hover {
  box-shadow: 0 3px #d90429;
  top: 1px;
}
button:active {
  box-shadow: 0 0 #d90429;
  top: 5px;
}